asgiref==3.2.10
cexprtk==0.3.4
django>=3.1.8
django-admin-honeypot==1.1.0
django-appconf==1.0.4
django-axes==5.5.0
django-crispy-forms==1.9.2
django-ipware==3.0.2
django-import-export==2.5.0
mysqlclient==2.0.1
pytz==2020.1
setuptools==50.0.0
sqlparse==0.3.1
tablib==3.0.0
#django-tailwind==2.0.1
