asgiref==3.4.1
cexprtk==0.3.4
django>=4.0
django-admin-honeypot==1.1.0
django-appconf==1.0.5
django-axes==5.28.0
django-crispy-forms==1.13.0
django-ipware==4.0.2
django-import-export==2.7.0
mysqlclient==2.1.0
pytz==2021.3
setuptools==60.0.3
sqlparse==0.4.2
tablib==3.1.0
#django-tailwind==2.0.1
