{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load ref_filters %}
{% block content %}
<div class="col-lg-10 col-xl-9">
<div class="jumbotron jumbotron-fluid bg-transparent mt-n3 mb-n5">
  <h2>{{ title }}</h2>
</div>

{% crispy form %}

    <table class="table table-hover table-sm">
      <thead>
        <tr class="table-warning">
          <th>Domain</th>
          <th>Name</th>
          <th>Description</th>
          <th>{{config.form_fields.value.label}}</th>
          <th>{{config.form_fields.kind.label}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in list_of_children %}
           <trv>
            <td>{{item.domain}}</td>
            <td>{{item.name}}</td>
            <td><strong>{{item.title}}</strong> 
                {% if item.desc != '' %}
                {{item.desc|filter_refs|linebreaksbr}}
                {% endif %}
                {% if item.justification != '' %}
                <br><strong>Justification</strong> {{item.justification|filter_refs|linebreaksbr}}
                {% endif %}
                {% if item.remarks != '' %}
                <br><strong>Remarks</strong> {{item.remarks|filter_refs|linebreaksbr}}
                {% endif %}
            </td>
            <td>{{item.value}}</td>
            <td>{{item.kind}}</td>
            <td>
              <div class="btn-group">
                {% if item.val_set.name == 'Default' %}  
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'copy_spec_item' cat project.id application_id item.id sel_dom %}" title="Copy {{config.name}}">C</a>
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'split_spec_item' cat project.id application_id item.id sel_dom %}" title="Split {{config.name}}">S</a>
                {% endif %}
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'del_spec_item' cat project.id application_id item.id sel_dom %}" title="Delete {{config.name}}">D</a>
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'edit_spec_item' cat project.id application_id item.id sel_dom %}" title="Edit {{config.name}}">E</a>
              </div> 
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name }}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

</div>
{% endblock %}
