{% extends "base_generic.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <h2 class="my-3">Add or Edit a Project</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                {% include "generic_form_field.html" %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}


            <div class="row mt-5">
                <!-- user table -->
                <div class="col-12 col-md-6">
                    <div class="d-flex mb-2">
                        <div class="dropdown me-2">
                            <button class="btn btn-outline-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownAddRWUser" data-bs-toggle="dropdown">
                                Add R/W User
                            </button>
                            <ul class="dropdown-menu"
                                aria-labelledby="dropdownAddRWUser">
                                {% for user in users %}
                                <li><a class="dropdown-item"
                                       href="{% url 'edit_project' project.id %}?user_id={{user.id}}&role=RW">
                                    {{user.username}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownAddROUser" data-bs-toggle="dropdown">
                                Add R/O User
                            </button>
                            <ul class="dropdown-menu"
                                aria-labelledby="dropdownAddROUser">
                                {% for user in users %}
                                <li><a class="dropdown-item"
                                       href="{% url 'edit_project' project.id %}?user_id={{user.id}}&role=RO">
                                    {{user.username}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr class="table-primary">
                                <th>User Name</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project_user in project_users %}
                            <tr>
                                <td>{{ project_user.user.username }}</td>
                                <td>{{ project_user.user.last_name }}</td>
                                <td>{{ project_user.user.first_name }}</td>
                                <td>{{ project_user.role }}</td>
                                <td>
                                    <a class="bi-trash-fill link-danger text-decoration-none"
                                       role="button"
                                       href="{% url 'edit_project' project.id %}?del_user_id={{project_user.id}}"
                                       onclick="return confirm('Are you sure you want to remove this user from the project?');"
                                       title="Delete Project User">
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- ValSet table -->
                <div class="col-12 col-md-6">
                    <a class="btn btn-outline-secondary mb-2"
                       href="{% url 'add_val_set' project.id %}">
                        Add ValSet
                    </a>
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr class="table-primary">
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for val_set in val_sets %}
                            <tr>
                                <td>{{ val_set.name }}</td>
                                <td>{{ val_set.desc }}</td>
                                <td>
                                    <nobr class="float-end">
                                        {% if val_set.name == 'Default' %}
                                        <span class="bi-trash-fill link-secondary me-1"
                                              aria-disabled="true">
                                        </span>
                                        <span class="bi-pencil-fill link-secondary"
                                              aria-disabled="true">
                                        </span>
                                        {% else %}
                                        <a class="bi-trash-fill link-danger text-decoration-none me-1"
                                           href="{% url 'edit_project' project.id %}?del_val_set_id={{val_set.id}}"
                                           title="Delete ValSet">
                                        </a>
                                        <a class="bi-pencil-fill text-decoration-none"
                                           href="{% url 'edit_val_set' project.id val_set.id %}"
                                           title="Edit ValSet">
                                        </a>
                                        {% endif %}
                                    </nobr>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
