{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="col-lg-10 col-xl-9">
<div id="toc">
    <div class="jumbotron jumbotron-fluid bg-transparent mb-n5">
      <h2>Cordet FW Editor - Online Help</h2>
      <p class="lead">Web-based editor to support the specification of a set of related applications</p>
    </div>
</div>
        
<div id="contents">

<div class="container-fluid bg-grey">
    <h3><a name="Overview">Overview</a></h3>
    <p>
    The Cordet FW Editor provides an environment where users define various kinds of specification items
    for their applications.
    The specification information is stored in a database held on a server.
    The processing of the specification data is done by a back-end running on the server.
    The access to the editor data is through a browser on a client machine.
    </p><p>
    Distinctive features of the editor include:
    <ul>
    <li>Design based on a <a href="#ModellingLevels">meta-model</a> to allow 
        customization to meet user needs</li>
    <li>Distribution through a free and open licence </li>
    <li>Support for multiple versions of requirements through the <a href="#ValSets">ValSet</a> concept</li>
    <li>Support for a <a href="#History">history mechanism</a> to keep track of requirement evolution</li>
    <li>Support for creating <a href="#IntRef">links between requirements</a> with auto-completion facilities</li>
    <li><a href="#SpecItemRep">Rendering of requirements</a> either as hyperlinked html or as text in a form 
        suitable for import in documents</li>
    <li>Support for importing of and linking to <a href="ExtSpecRes">external specification resources</a></li>
    <li>Provision of <a href="#ExpImp">import and export facilities</a> to csv formats</li>
    <li>Support for <a href="#EditorGen">generators</a> to be embeeded within the editor to process its data</li>
    <li>Support for <a href="#UserRoles">multiple levels of access</a> to requirements in a project</li>
    </ul>
    </p><p>

    <h3><a name="HowToUse">How To Use the Editor</a></h3>
    <p>
    The editor is built as a django project made available through an open and free licence.
    The installation instructions are in the 
    <a href="https://github.com/pnp-software/cordetfw_editor">project home page</a>.
    </p><p>
    The editor is available in a default configuration which can be used "as is". 
    However, projects often have project-specific categories of requirements, or need to maintain
    project-specific relationships among their requirements, or need to generate
    project-specific artifacts from their requirements.
    The Cordet FW Editor cater to these needs by being built on 
    a <a href="#MetaModel">meta-model</a> which defines its basic concepts
    and the operations which may be performed upon them.
    The key concept at meta-modelling level is that of <a href="#SpecItems">specification item</a>.
    A specification item is a set of specification-related information which are manipulated as 
    a single unit.
    </p><p>
    When users deploy the editor, they are expected to 
    <a href="Instantiation">configure</a> it to match their needs.
    The outcome of this configuration process is an <a href="#Model">editor model</a> which
    defines the concrete categories of specification items and their mutual relationships
    and the generators to process them.
    </p>
    <img src="{% static 'images/ModelLevels.png' %}" width="600" height="400" class="center"> 
    </p><p>
     
    
    <h3><a name="MetaModel">The Editor Meta-Model</a></h3>
    <p>
    The editor meta-model is built on the following concepts:
    <ul>
    <li><a href="#Users">Users</a></li>
    <li><a href="#ProjAndApp">Projects</a></li>
    <li><a href="#ProjAndApp">Applications</a></li>
    <li><a href="#Releases">Releases</a></li>
    <li><a href="#SpecItems">Specification Items</a></li>
    <li><a href="#ValSets">ValSets</a></li>
    </ul>
    </p><p>
    A <a href="#SpecItems"><strong>specification item</strong></a> is the lowest-level item managed 
    by the editor.
    It encapsulates a set of data which contribute to the specification of the project or its 
    applications and which are manipulated by the editor as a single entity.
    </p><p>
    A <strong>ValSet</strong> is a set of values for the specification items within a project.
    The "Default" ValSet is pre-defined.
    A project may have additional ValSet representing alternative values for some of their specification items.
    Each specification value is assigned to a ValSet.
    To illustrate, let specification item S1 be assigned to the Default ValSet.
    Suppose that there is a need to maintain a variant of specification item S1. This could, for instance,
    be due to the fact that the system which is being specified in the editor exists in two slightly
    dfferent variants, which differ from each other in having two different instances of specification item S1.
    In such a scenario, a second ValSet is created to hold the specification items which have different
    formulations for the alternative variant of the system.
    </p>
    
    <h4><a name="Users">Editor Users</a></h3>
    <p>
    The editor users are the entities which have access to the editor.
    There are two types of users: the <strong>admin user</strong> and the <strong>basic users</strong>.
    </p><p>
    The <strong>admin user</strong> is responsible for: 
    <ul>
    <li>Creating and managing basic users</li>
    <li>Creating projects and assigning their owner</li>
    <li>Assigning basic users to a project</li>
    <li>Defining the <a href="#ValSets">ValSets</a> for the specification items of 
        a project</li>
    </ul>
    The <strong>basic users</strong> (or just "users" for short) manage the project 
    and the specification items they contain in accordance with their roles.
    Within a project, a user has one of three roles:
    <ul>
    <li>The <strong>Project Owner</strong> is appointed by the admin user when the project is created.
    The project owner can: 
        <ul>
        <li>Create and edit applications within the project</li>
        <li>Make a new release of a project or of one of its applications</li>
        <li>Create new specification items in the project </li>
        <li>Edit, view, copy and delete the specification items in the project </li>
        <li>Import and export all project items </li>
        </ul>
    <li>The <strong>Project User with Read/Write Access</strong> is allocated to a project by the admin user
    and can: 
        <ul>
        <li>Create new specification items within the project </li>
        <li>Edit, view, copy and delete specification items in the project</li>
        <li>Import and export all project items </li>
        </ul>
    <li>The <strong>Project User with Read-Only Access</strong> is allocated to a project by the admin user
    and can: 
        <ul>
        <li>View specification items in the project</li>
        <li>Export all project items </li>
        </ul>
    </ul>
    A user can be assigned (either as owner or as plain user) to multiple projects.
    </p>
 
    <h4><a name="ProjAndApp">Projects and Applications</a></h4>
    A <strong>project</strong> is the top-level container for a specification created by the editor users.
    It consists of a set of <strong>applications</strong>.
    Each specification item belongs either to a project (in which case it is common to all applications
    within the project) or it belongs to an application within a project.
    Specification items within the same project can reference each other but no references are possible
    across project boundaries.
     
    <h4><a name="Releases">Release Mechanism</a></h4>
    <p>
    Both projects and applications may be <strong>released</strong>.
    In between releases, specification items can be updated or deleted.
    When a project or an application is released, its specification items are frozen.
    </p><p>
    The release number of a project is a non-negative integer.
    The release number of an application has the form "x.y", where 'x' is the release number of the
    project to which the application belongs and 'y' is a non-negative number. 
    The release numbers of projects and applications are set according to the 
    following rules:
    <ul>
    <li>When a project is created, its release number x is set to zero</li>
    <li>When an application is created the y component of its release number is set to zero</li>
    <li>When the project owner makes a new release of a project, its release number is incremented by 1
    and the y component of the release number of its applications is set to zero</li>
    <li>When the project owner makes a new release of an applicatioin, 
    the y component of the release number of the application is incremented by 1</li>
    </ul>
    A textual description may be attached to each release.
    A release of a project or of an application causes the history status of the specification items
    in the project or application to be updated according to the editor's
    <strong>history mechanism</strong>. 
    </p><p>
    Specification items carry history information through the following attributes:
    (a) the owner; (b) the status; (c) the previous pointer; and (d) the update time.
    The status is one of the following:
        <ul>
        <li><strong>New</strong>: the item has been created in the current release</li>
        <li><strong>Modified </strong>: the item was created in a previous release and 
        has been modified in the current release</li>
        <li><strong>Confirmed</strong>: the item was created in a previous release and 
        has not been modified in the current release</li>
        <li><strong>Obsolete</strong>: the item was created in a previous release and 
        has since been modified</li>
        <li><strong>Deleted</strong>: the item was created in a previous release and 
        has since been deleted</li>
        </ul>
    The status information evolves according to the logic in the state diagram:
    </p><p>
    <img src="{% static 'images/HistoryStatus.png' %}"> 
    </p>
     
    <h4><a name="SpecItems">Specification Items</a></h4>
    <p>
    Specification items are defined by their <strong>attributes</strong> and by the <strong>operatons</strong> 
    which may be performed upon them.
    Specification items are divided into <strong>categories</strong>. 
    Specification items in the same category have the same behaviour (i.e. they are
    treated in the same way by the editor).    
    The specification item categories are defined at <a href="HowToUse">editor model level</a>.
    </p><p>        
    Some specification item attributes (the <strong>core attributes</strong>) have a semantics which is
    independent of the specification item category.
    Other specification item attributes have a category-specific semantics (the <strong>category-specific
    attributes</strong>).
    </p><p>
        
    <h4><a name="CoreAttr">Core Attributes</a></h4>
    <p>
    The core attributes of specification items are:    
    <ul>
    <li><i>Category(*)</i>: the category of the specification item (an enumeratd value; the range
                            of enumerated values is defined when the editor is instantiated)</li>
    <li><i>Domain(*)</i>: the domain to which the specification item belongs (a string consisting 
                          of alphanumeric characters and underscores)</li>
    <li><i>Name(*)</i>: the name of the specification item (a string consisting 
                        of alphanumeric characters and underscores)</li>
    <li><i>Project(*)</i>: the project to which the specification item belongs </li>
    <li><i>Application</i>: the application to which the specification item belongs (empty if the specification
                     item describes a project-level feature)</li>
    <li><i>Title(*)</i>: a short description of the specification item</li>
    <li><i>Description</i>: a long description of the specification item</li>
    <li><i>Owner(*)</i>: the user who created or last updated the specification item</li>
    <li><i>Status(*)</i>: the history status of the speecification item</li>
    <li><i>Update Time(*)</i>: the time when the specification item was created or when the 
                              history status of the specification was last updated</li>
    <li><i>Previous</i>: the pointer to the previous version of a specification item which has been modified 
                                 (empty if the specification item has no history)</li>
    <li><i>Rationale</i>: the rationale for the existence of the specification item or for its value</li>
    <li><i>Remarks</i>: any remarks applicable to the specification item</li> 
    <li><i>Implementation</i>: information about how the specification item is implemented</li> 
    <li><i>ValSet(*)</i>: the <a href="#ValSets">ValSet</a> to which the specification item belongs</li> 
    </ul>
    Within a project, a specification item is uniquely identified by the pair: <strong>domain:name</strong>. 
    The domain is used to capture a set of logically related specification items and acts as a kind
    of name space.
    The name is unique within the domain.
    </p><p>
    The editor keeps track of the <a href="#Releases"><strong>history</strong></a> of specification 
    items by maintaining different copies
    of the specification item reflecting the temporal evolution of the specification item.
    The history mechanism is supported by the 
    <strong>update time</strong> attribute representing the time when the specification time was last updated
    and by the <strong>previous</strong> attribute which points to the previous version of the specification item. 
    </p>
    
    <h4><a name="CatSpecAttr">Category-Specific Attributes</a></h4>
    <p>
    The category-specific specification items are used during the 
    <a href="#Instantiaton">instantiation of the editor meta-model</a>, when the concrete 
    specification item categories are defined.
    It is at this time that the category-specific attributes are given their meaning.
    </p><p>
    The category-specific attributes of specification items are:
    <ul>
    <li><i>Primary and Secondary Kind</i>: enumerated values defining the role or kind of a 
        specification item</li>
    <li><i>Primary and Secondary Links</i>: links to other specification items</li>
    <li><i>n1 to n5</i>: integer attributes</li>
    <li><i>Value</i>: a text attribute representing a value</li>
    <li><i>t1 to t5</i>: text attributes</li>
    </ul>
    </p><p>
    Depending on the category, some of these attributes are optional and others are mandatory.
    </p><p>
    The default editor model provides an example of how specification items are defined 
    and of how the category-specific attributes are used to support their definition. 
    </p>
    
    <h5><a name="SpecItemOper">Operations Performed on Specification Items</a></h5>
    <p>
    The following operation may be performed on a specification item (spec_item):
    <ul>
    <li><strong>Add</strong>: a new spec_item is created</li>
    <li><strong>Edit</strong>: an existing spec_item is modified</li>
    <li><strong>Copy</strong>: a copy is created of a spec_item in the Default ValSet
                               (only for internal specification items)</li>
    <li><strong>Delete</strong>: a spec_item is deleted</li>
    <li><strong>Split</strong>: a copy of a spec_item is created in a different ValSet
                                (only for internal specification items)</li>
    <li><strong>Refresh</strong>: the external content of a specification item is refreshed
                                (only for external specification items)</li>
    </ul>
    </p><p>
    The semantics of these operations is illustrated in the activity diagrams below.
    In all cases, the user is presented a form which he fills in with information related to
    the requested operation.
    Before being processed, a validity check is performed on the data entered in the form by
    the user.
    The validity check comprises: (a) generic checks and (b) category-specific checks.
    The generic checks are specified in the activity diagrams below.
    The category-specific checks are defined as part of the 
    <a href="#Instantiaton">instantiation of the editor meta-model</a>.
    </p><p>
    <img src="{% static 'images/AddSpecItem.png' %}"> 
    </p><p>
    <img src="{% static 'images/EditSpecItem.png' %}"> 
    </p><p>
    <img src="{% static 'images/CopySpecItem.png' %}"> 
    </p><p>
    <img src="{% static 'images/DelSpecItem.png' %}"> 
    </p><p>
    <img src="{% static 'images/SplitSpecItem.png' %}"> 
    </p><p>
    <img src="{% static 'images/RefreshSpecItem.png' %}"> 
    </p>
     
    <h5><a name="IntExtSpecItems">Internal and External Specification Items</a></h5>
    <p>
    Specification items which are entirely defined within the editor are 
    <strong>internal specification items</strong>.
    Specification items which are partially defined externally (e.g. figures created outside the editor or
    <a href="#BehaviouralModels">behavioural models</a> created in the FW Profile Editor) 
    are <strong>external specification items</strong>.
    </p><p>
    Even for external specification items, the user can still add information to the data
    imported from the external source (e.g. a descriptive text or a rationale).
    The attributes of external specification items which cannot be edited (because they contain information
    which is imported from outside the editor) are identified as such in the 
    <a href="#EditorConfig">configuration dictionary</a> of the editor.  
    </p><p>
    The distinction between internal and external specification items is at the level of specification
    item categories. For instance, in the <a href="#DefEditorModel">default editor model</a>, 
    the <a href="#BehaviouralModels">behavioural model</a> category contains only
    external specification items; all other categories only contain internal specification items.
    </p><p>
    External specification items may only belong to the default ValSet (because the specification 
    items are imported from an external source and hence it is not possible for the editor to 
    maintain mutliple versions of the same instance).
    
   <h5><a name="SpecItemAttrRender">Rendering of Specification Item Attributes</a></h5>
    <p>
    An attribute of a specification item has multiple representations which depend on the kind of content it
    holds and on the context within which it is rendered.
    The kind of content is one of the following:
    <ul>
        <li>plain_text: text without <a href="#SpecItemLinks">internal references</a></li>
        <li>ref_text: text with <a href="#SpecItemLinks">internal references</a></li>
        <li>spec_item_ref: a reference to another specification item 
            (<a href="#SpecItemLinks">direct link</a>)</li>
        <li>plain_ref: a reference to a database model instance other than a specification item</li>
        <li>eval_ref: a mathematical formula expressed in term of numerical values and/or of the
            values of the same attribute of other specification items in the same category </li>
        <li>image: an image data in svg format</li>
        <li>int: an integer</li>
        <li>int: a date</li>
    </ul>
    </p><p>
    The table below shows which kind of content is allowed for which attribute.
    With the exception of the 'value' attribute, all attributes have only one kind of
    allowed content.
    The definition of the kind of content of each attribute is done in the editor
    <a href="#EditorConfig">configuration dictionary</a>.
    </p><p>
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr class="table-warning">
            <th></th>
            <th><code>plain_text</code></th>
            <th><code>ref_text</code></th>
            <th><code>spec_item_ref</code></th>
            <th><code>plain_ref</code></th>
            <th><code>eval_ref</code></th>
            <th><code>image</code></th>
            <th><code>int</code></th>
            <th><code>date</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Domain & Name</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>Title, Description, Rationale, Remarks & Implementation </td>
            <td>&#10060;</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>Value</td>
            <td>&#9989;</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#9989;</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>Owner, ValSet, Project & Application</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>Previous, Primary & Seconday Links</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>Status, Primary & Secondary Kind</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>Update Time</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#9989;</td>
        </tr>
        <tr>
            <td>t1 to t5</td>
            <td>&#10060;</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
        </tr>
        <tr>
            <td>n1 to n5</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#10060;</td>
            <td>&#9989;</td>
            <td>&#10060;</td>
        </tr>
      </tbody>
    </table>
    <p></p>
    The potential representations of the value of a specification item attribute are:
    <ul>
    <li><strong>Database Representation</strong> is the representation of the attribute in the database</li>
    <li><strong>Display Representation</strong> is used when rendering the attribute in an HTML page</li>
    <li><strong>Latex Representation</strong> is used when rendering the attribute for export to a csv format
        to be used in a latex document</li>
    <li><strong>Edit Representation</strong> is used when rendering the attribute in a form for editing
        by the user</li>
    <li><strong>Export Representation</strong> is used when rendering the item for 
                                               <a href="#ExpImp">plain export</a> to csv format</li>
    </ul>
    <p></p>
    The table shows how each kind of content is transformed when it is rendered in one of the above
    representations.
    <p></p>
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr class="table-warning">
            <th></th>
            <th>Database</th>
            <th>Display </th>
            <th>Latex</th>
            <th>Edit</th>
            <th>Export</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td><code>plain text</code></td>
        <td>No change</td>
        <td>No change</td>
        <td>Latex special characters are escaped; CR is converted to <code>\newline</code></td>
        <td>No change</td>
        <td>No change</td>
        </tr>
        <tr>
        <td><code>ref text</code></td>
        <td>Internal ref.s are rendered as '#iref:id' where 'id' is the identifier of the referenced item </td>
        <td>Internal ref.s are rendered as 'domain:name' with a hyperlink to the referenced item</td>
        <td>Internal ref.s are rendered as 'domain:name'; Latex special characters are escaped; 
            CR is converted to <code>\newline</code></td>
        <td>Internal ref.s are rendered as '#cat:domain:name'</td>
        <td>Internal ref.s are rendered as '#cat:domain:name'</td>
        </tr>
        <tr>
        <td><code>spec item ref</code></td>
        <td>The identifier of the referenced item </td>
        <td>The string representation of the referenced item</td>
        <td>The string representation of the referenced item; Latex special characters are escaped</td>
        <td>Pull-down menu with list of potential targets for the link</td>
        <td>The string representation of the referenced item</td>
        </tr>
        <tr>
        <td><code>plain ref</code></td>
        <td>The identifier of the referenced item </td>
        <td>The string representation of the referenced item</td>
        <td>The string representation of the referenced item; Latex special characters are escaped</td>
        <td>Pull-down menu with list of potential targets for the link</td>
        <td>The string representation of the referenced item</td>
        </tr>
        <tr>
        <td><code>eval ref</code></td>
        <td>Internal ref.s are rendered as '#iref:id' where 'id' is the identifier of the referenced item </td>
        <td>Internal ref.s are rendered as 'domain:name' with a hyperlink to the referenced item; numerical value
            of expression (if it can be computed) is added at the end </td>
        <td>Internal ref.s are rendered as 'domain:name'; Latex special characters are escaped; numerical value
            of expression (if it can be computed) is added in a dedicated field call 'NVal'</td>
        <td>Internal ref.s are rendered as '#cat:domain:name'</td>
        <td>Internal ref.s are rendered as '#cat:domain:name'</td>
        </tr>
        <tr>
        <td><code>image</code></td>
        <td>SVG representation of image</td>
        <td>Image rendering as done by the browser </td>
        <td>Representation is defined at editor instantiation time</td>
        <td>Not editable</td>
        <td>SVG representation of image</td>
        </tr>
        <tr>
        <td><code>int</code></td>
        <td>No change </td>
        <td>No change </td>
        <td>No change</td>
        <td>No change</td>
        <td>No change</td>
        </tr>
        <tr>
        <td><code>date</code></td>
        <td>No change </td>
        <td>Converted to 'd-m-Y H:i' </td>
        <td>No change</td>
        <td>No change</td>
        <td>No change</td>
        </tr>
      </tbody>
    </table>
    <p></p>
    
    <h5><a name="SpecItemLinks">Links Between Specification Items</a></h5>
    <p>
    The editor models three kinds of links between specification items:
    <ul>
    <li>Direct Links</li>
    <li>internal References</li>
    <li>Traceability Links</li>
    </ul>
    <p></p>
    <strong>Direct links</strong> are implemented through the <code>p_link</code> and 
    <code>s_link</code> attributes of a specification item.
    They establish a one-to-one link between two specification items.
    Direct links are robust to deletion: the target of a direct link cannot be deleted unless
    the link is deleted first. 
    <p></p>
    Users create a direct link when they edit a specification item.
    If, for instance, the editor has been configured to have a <code>p_link</code> attribute
    for specification items of category C, then when an instance of category C is edited,
    the edit form offers a pull-down menu with the potential choices for <code>p_link</code>.
    The range of choice is generated by function <code>get_p_link_choices</code>. 
    This function must be customized during the editor instantiation process.
    Function <code>get_s_link_choices</code> serves a similar purpose for direct links
    implemented through the <code>s_link</code> attribute and it, too, must be
    customized by the user.
    </p><p>  
    As an example, in the default editor configuration, both data items and data item types are 
    modelled as specification items.
    A direct link is then used to link a data items to its type.
    <p></p>
    <strong>Internal references</strong> are embedded within the text of one of the following 
    specification item attributes:
    <ul>
    <li>Description</li>
    <li>Value</li>
    <li>Justification</li>
    <li>Remarks</li>
    <li>t1 to t5</li>
    </ul>
    </p><p>
    Users create the internal reference when they edit the attribute.
    The internal reference is introduced through the following syntax: '#cat:domain:name'.
    Here, 'cat' is the category of the target specification item; 'domain' is the domain of the
    target specification item; and 'name' is its name.
    The editor offers an auto-completion facility to facilitate the creation of an internal reference link. 
    </p><p>  
    When the reference is rendered in for disply in html page, it is converted to a hyperlink; when
    it is rendered for export, it is converted to '#dom:name'.
    </p><p>
    If specification item S is the target of an internal reference in another
    specification item, then, if S is deleted, the internal reference will become
    invalid. 
    There is no protection against this situation in the function which deletes the
    specification item.
    Users will notice the hanging reference when they try to display or export the specification
    item with the reference to S.
    </p><p>
    <strong>Traceability links</strong> can be used to set up many-to-many relationships among
    specification items.
    In this case, the link itself is a specification item.
    This has the advantage that it is possible to associate additional information
    to it (to, for instance, describe the nature or the reason for the link) and to
    track its evolution in time through the <a href="#Releases">history mechanism</a>.
    </p><p>
    If specification item S1 is to be linked to specification item S2, then a specification
    item L is created such that its <code>p_link</code> points to S1 and its <code>s_link</code>
    points to S2.
    Users create a traceabiity link by creating an instance of L and by then editing
    its <code>p_link</code> and <code>s_link</code> links to create the connection 
    between S1 and S2.
    As in the case of direct links, the potential values of the <code>p_link</code> and 
    <code>s_link</code> attributes are provided by functions <code>get_p_link_choices</code>
    and <code>get_s_link_choices</code> and users are responsible for customizing these 
    functions during the editor instantiation process. 
    </p><p>
    As an example, in the default editor configuration, traceability links are used
    to link specification items to their specification evidence.
    Category VerItem is used to describe a piece of verification evidence (e.g. a test case
    or the outcome of the review of a design document) and category VerLink is used to 
    capture a verificaition link.
    A traceability link is then establshed by creating an instance of VerLink and using it
    to link a specification item of a category other than VerItem or VerLink to a specification
    item of category VerItem.
    </p><p>
    Links always point to the specification item in the Default ValSet.
    It is not possible to create a link to a specification items in other ValSets.
    </p>
    
    
    <h4><a name="ValSets">ValSets</a></h4>
    <p>
    A ValSet is a set of alternative values for the specification items in a project.
    The admin user defines the range of ValSets for each project. 
    The 'Default' ValSet is pre-defined for all projects. 
    </p><p>
    The ValSet attribute of a specification item is used to manage the ValSets. 
    When a specification item is created, it is allocated to the Default ValSet.
    Subsequently, the user can <strong>split</strong> the specification item. 
    When specification item S1 in the Default ValSet is split, a new specification item S2 is created with
    the following characteristics:
    <ul>
    <li>S2 has the same domain and name as S1</li>
    <li>The val_set attribute of S2 is different from the val_set attribute of all other specification
        items created by splitting S1 (i.e. no two specification items with the same domain and name can 
        belong to the same ValSet) </li>
    <li>The 'parent' attribute of S2 points to S1</li>
    <li>Other pointer attributes of S2 are left blank</li>
    <li>Non-pointer attributes of S2 other than domain and name can be set freely</li>
    </ul>
    </p><p>
    When the two specification items S1 and S2 are edited, the following constraints are enforced:
    <ul>
    <li>The ValSet cannot be changed (i.e. the ValSet attribute can only be modified in a split operation)</li>
    <li>The domain and the name of S2  cannot be changed</li>
    <li>The pointer attributes of S2  cannot be changed (i.e. they must remain blank)</li>
    <li>If the domain or the name of S1 is updated, the change is propagated to S2</li>
    <li>If S1 is deleted, then S2 is deleted, too</li>
    <li>Pointer attributes of S1 can only point to specification items in the Default ValSet</li>
    </ul>
    Thus, S2 serves as a clone of S1 which differs from it in having potentially different values for its
    attributes of primitive type.
    </p>
 
    
    <h4><a name="ExpImp">Export and Import</a></h4>
    <p>
    There are three kinds of data imports and exports:
    <ul>
    <li>Plain Export/Import</li>
    <li>Export to Latex Format</li>
    <li>Project Export/Import</li>
    </ul> 
    </p><p>
    <strong>Plain import and export</strong> are done when the editor is displaying the specification
    items in a given category and ValSet and, optionally, in a given domain. 
    The import/export function is applied to the specification items in the currently
    selected category and ValSet and, optionally, to the selected domain.    
    </p><p>    
    Plain export generates a csv table holding all the specification items in the
    currently selected category, ValSet and domain.
    The exported items are rendered in <a href="#SpecItemRep">export representation</a>.
    Only the latest version of a specification item is exported.
    The exported fields are those listed in the <a href="#EditorConfig">configuration dictionary</a>
    for the selected category. The field names in the exported file are the labels
    the configuration dictionary.
    </p><p>
    Plain import processes a csv file with the same format as the file generated
    by the plain export function.
    One import operation imports a set of specification items of the currently selected
    category and of the currently selected ValSet.
    When the data in a csv file are imported, each row is assumed to define one specification
    item.
    Only the fields in the <a href="#EditorConfig">configuration dictionary</a> for the
    selected category are imported. 
    Other fields are set as follows:
    <ul>
    <li>The identifier is set by the database back-end when the item is saved</li>
    <li>The owner is set to the user who triggered the import</li>
    <li>The update time is set to the current time</li>
    <li>If there is no item with the same domain:name in the selected category and ValSet,
        the status is set to NEW and the previous pointer is set to 'None'</li>
    <li>If there is an item with the same domain:name in the selected category and ValSet,
        a copy is made of the existing item. the status of the new item is set to MOD and
        its previous pointer is set to the newly-copied item</li>
    </ul>
    Each imported specification item is processed according to the following activity diagram:
    <p></p>
    <img src="{% static 'images/ImportSpecItem.png' %}"> 
    <p>
    The typical use case for the plain import/export functions is as follows.
    A user needs to perform the same operation on a large number of specification items (e.g.
    update their names; capitalize their domain name; clear their values; etc).
    This kind of operation is awkward to do within the editor but would be easy to do 
    if the affected specification items were embedded in an excel spreadsheet.
    Hence, the user proceeds as follows: (a) perform a plain export; (b) edit the
    exported data (in excel or other similat environment); (c) perform a plain import
    for the modified data. 
    </p><p>
    Note that, when an import operation is done for a specification item S which is in CNF state,
    a new version of specification item S is created with status NEW. 
    This is done even if the newly imported specification item is identical to the 
    existing version S.
    If this duplication is undesirable, users must delete the unchanged specification
    items from the import file prior to importing it.    
        
    <strong>Latex export</strong> is like plain export except for the following differences:    
    <ul>
    <li>In addition to the fields in the configuration dictionary, the following fields
        are also exported: project and application name, owner, update time and status;
        the names of these extra fields in the exported file are the same as the names
        of the fields in the database model converted to CamelCase</li>
    <li>Exported fields are converted from database to latex format</li>
    <li>If the 'value' attribute has a content of the <a href="TBD"><code>eval_ref</code></a> kind
        (i.e. if it containts a mathematical expression), then a new field called
        'NVal' is also exported holding the result of a numerical evaluation of the
        'value' attribute </li>
    <li>If the category being exported has <a href="TBD">traceability links</a>, then the
        traceability links are also exported in a dedicated field  </li>    
    </ul> 
    There is no import facility for latex formatted files.
    </p><p>
    <strong>Project export</strong> is used to back up the data in a project.
    The export function downloads a set of csv files as a single zip file.
    The csv files, taken together, define all the data in a project.    
    </p><p>
    <strong>Project import</strong> is the reverse operation of a project export.
    The operation takes a zip back up the data in a project.
    The import function uploads a zip file which has been generated by the export function
    and it reconstructs the project it defines.
    The project import function is only successful if the project being imported
    does not yet exist.
    </p><p>
    The project import function can only be triggered by the editor administrator.
    This restriction is due to the fact that import of incomplete or incorrect
    data can corrupt the database.
   
    <h4><a name="Generators">Generators</a></h4>
    <p>
    The editor supports the embedding of generators which process the specification items of a project to, for instance,
    generate code or inputs for documents.
    No generators are defined at meta-model levels. 
    They are defined as part of the <a href="#Instantiaton">instantiation of the editor</a>.
    </p><p>    
    TBD


    <h3><a name="Instantiation">Editor Instantiation</a></h3>
    <p>
    The Cordet FW Editor is built on a meta-model which users are expected to instantiate when they deploy the
    editor.
    The <a href="#DefModel">default instantiation</a> can be used as a blue-print for the user-specific instantiation.
    During the instantiation process: 
    <ul>
    <li>The categories of specification items and their mutual relationships are defined</li>
    <li>The generators are defined</li>
    </ul>
    </p><p>    
    These tasks are performed by: (a) filling out the configuration dictionary of the editor and (b)
    implementing the configuration module TBD. 
    
   
    <h4><a name="EditorConfig">Editor Configuration Dictionary</a></h4>
    <p>
    Configuration information for the editor is held in the <strong>configuration dictionary</strong>.
    The 'General' key in the dictionary holds general configuration information.
    Additionally, for each specification item, a 'Category' key is present whose
    value is another dictionary with configuration information for that category, including:
    <ul>
    <li>The name of the category</li>
    <li>The list of external attributes for the category (i.e. the specification items whose content
        originates outside the editor, see also <a href="#IntExtSpecItems">here</a>)</li>
    <li>The number of fields when the specification items of the given categories are displayed
        in list form</li>
    </ul>
    The 'expand' item in the configuration dictionary determines whether a specification item can be
    'expanded' when it is displayed by the editor.
    Specification items refer to each other through their s_link and p_link attributes.
    When a specification item is expanded, the items which are linked to it either through their
    s_link or through p_link are listed.
    The 'expand' item in the configuration dictionary dete
    </p><p>
    The 'attrs' item in the configuration dictionary 
    lists the editable fields for that category and, for each, it provides the 
    following information:
    <ul>
    <li>label: the label used when the field is displayed or exported</li>
    <li>req_in_form: true if the field is mandatory</li>
    <li>kind: the kind of field, namely one of:</li>
        <ul>
        <li>plain_text: a text field without <a href=""#IntRef">internal references</a></li>
        <li>ref_text: a text field with <a href=""#IntRef">internal references</a></li>
        <li>spec_item_ref: a field with a reference to another specification item</li>
        <li>eval_ref: a field holding a mathematical expression
            which depends on the value of the same field of other specification items of the same category </li>
        <li>plain_ref: a field with a reference to a database model instance other than a specification item</li>
        <li>image: a field holding image data</li>
        <li>int: an integer field</li>
        </ul>
    </ul>
    </p><p>
   
    </p><p>    


    <h3><a name="DefModel">Default Editor Model</a></h3>



   
   
   
   
   
    
    


    <h4><a name="SpecItemCat">Specification Item Categories</a></h4>
    <p>
    The specification item categories are listed below together with the semantics of their
    non-core attributes. 
    <ul>
    <li><i>Requirement</i>: specification of a feature of an application</li>
        <ul>
        <li>Value: the normative text of the requirement</li>
        <li>Primary Kind: the kind of requirement (standard requirement, adaptation requirement, or constraint requirement)</li>
        <li>Secondary Kind: the verification method for the requirement</li>
        </ul>
    <li><i>Adaptation Point</i>: specification of an adaptation point of an application</li>
        <ul>
        <li>Value: the default value of the adaptation point</li>
        <li>Primary Kind: the level of the adaptation point (specification level or implementation level)</li>
        <li>Primary Link: the requirement which makes the adaptation point applicable</li>
        </ul>
    <li><i>Data Item Type</i>: specification of a non-enumerated data item type </li>
        <ul>
        <li>Value: the default value for instances of the type</li>
        <li>Implementation: the native type to which the type is mapped</li>
        <li>N1: the size in number of bits of the type</li>
        </ul>
    <li><i>Enumerated Data Item Type</i>: specification of an enumerated data item type </li>
        <ul>
        <li>Value: the default value for instances of the type</li>
        <li>Implementation: the native type to which the type is mapped</li>
        <li>N1: the size in number of bits of the type</li>
        </ul>
    <li><i>Enumerated Value</i>: specification of a value of an enumerated type</li>
        <ul>
        <li>Value: the value of the enumerated item</li>
        <li>Secondary Link: the type to which the enumerated item belongs</li>
        </ul>
    <li><i>Data Item</i>: specification of a data item</li>
        <ul>
        <li>Value: the value of the data item (possibly expressed as an arithmetic expression
                   of other data items)</li>
        <li>Primary Kind: the kind of data item (a constant, a global variable, a parameter, a packet parameter)</li>
        <li>Primary Link: the type of data item (a pointer to a Data Item Type specification item)</li>
        <li>T1: the multiplicity of the data item</li>
        <li>T2: the unit of measure of the data item</li>
        </ul>
    <li><i>Behavioural Model</i>: a FW Profile model describing an aspect of an application behaviour</li>
        <ul>
        <li>Value: the svg representation of the model</li>
        <li>Primary Kind: the kind of model (a state machine or a procedure)</li>
        </ul>
    <li><i>Service</i>: specification of a service in a project</li>
        <ul>
        <li>Value: the service type identifier</li>
        </ul>
    <li><i>Packet</i>: specification of a packet implementing a command or report in a service</li>
        <ul>
        <li>Value: the sub-service type identifier</li>
        <li>T1: a description of the parameters</li>
        <li>T2: a description of the packet destination</li>
        <li>Primary Link: a pointer to the service to which the packet belongs</li>
        </ul>
    <li><i>Derived Packet</i>: specification of a derived packet</li>
        <ul>
        <li>Value: the sub-service identifier</li>
        <li>T1: a description of the parameters</li>
        <li>Secondary Link: a pointer to the parent packet </li>
        <li>Primary Link: a pointer to the enumerated item representing the value of the discriminant 
                          for a derived packet</li>
        </ul>
    <li><i>Packet Parameter</i>: specification of a parameter in a packet</li>
        <ul>
        <li>Value: the default value of the packet parameter</li>
        <li>Secondary Link: a pointer to the data item acting as parameter</li>
        <li>Primary Link: a pointer to the packet or derived packet to which the parameter belongs</li>
        <li>Primary Kind: the role of the packet parameter (discriminant, housekeeping parameter, or packet parameter)</li>
        <li>N1: the position of the parameter within the packet</li>
        <li>N2: the parameter group size</li>
        <li>N3: the repetition number for the parameter</li>
        </ul>
    <li><i>Incoming Command</i>: specification of the behaviour associated to a packet 
                                 carrying a command to an application</li>
        <ul>
        <li>Primary Link: a pointer to the packet or derived packet </li>
        <li>Value: the acceptance check </li>
        <li>T1: the ready check </li>
        <li>T2: the start action</li>
        <li>T3: the progress action </li>
        <li>T4: the termination action </li>
        <li>T5: the abort action</li>
        </ul>
    <li><i>Incoming Report</i>: specification of the behaviour associated to a packet 
                                carrying a report to an application</li>
        <ul>
        <li>Primary Link: a pointer to the packet or derived packet </li>
        <li>Value: the acceptance check </li>
        <li>T1: the update action</li>
        </ul>
    <li><i>Out-going Command or Report</i>: specification of the behaviour associated to a packet 
                                            carrying an out-going command or report from an application</li>
        <ul>
        <li>Primary Link: a pointer to the packet or derived packet </li>
        <li>Value: the enable check </li>
        <li>T1: the ready check </li>
        <li>T2: the repeat check</li>
        <li>T3: the update action </li>
        </ul>
    <li><i>Verification Item</i>: a piece of information which verifies other specification items 
                                  (e.g. a test case or an analysis of a requirement)</li>
        <ul>
        <li>Value: the description of the verification activity (e.g. the steps of the test case or
                   the description of the analysis or review activity) </li>
        <li>Primary Kind: the kind of verification item (test case, review item, or analysis item)</li>
        <li>Secondary Kind: the verification status (open or closed)</li>
        <li>T1: the pre-conditions for the verification activity</li>
        <li>T2: the post-conditions for the verification activity</li>
        <li>T3: the outcome of the verification activity</li>
        </ul>
    <li><i>Verification Link</i>: a link between a verification item and the specification item it verifies</li>
        <ul>
        <li>Value: the description of the conditions under which the verification link is valid </li>
        <li>Primary Link: the pointer to the verification item</li>
        <li>Secondary Link: the pointer to the verified item</li>
        </ul>
    </ul>
    The figure shows how categories are linked to each other through their p_link and s_link attributes.
    The three boxes gruped together to the right of the figure ("Application Cmd/Rep") are the categories
    representing: incoming commands, incomint reports and out-going commands/reports.
    <a href="#SpecItems">here</a>.
    </p><p>
    <img src="{% static 'images/CatLinks.png' %}"> 
    </p>
     <ul>
    <li><strong>Data Items</strong>: <a href="#IntRef">Internal reference</a> in the value field may 
                                     only point to other data items</li>
    <li><strong>Data Items</strong>: The value of of a data item of enumerated kind must be an
                                     <a href="#IntRef">Internal reference</a> to an enumerated value of the
                                     the same type as the data item</li>
    <li><strong>Behavioural Model</strong>: neither the domain nor the name can be be modified in editing mode</li>
    <li><strong>Behavioural Model</strong>: during an add operation, a model with the specified domain and name
                                            must exist in the FW Profile Database</li>
    </ul>
   

 
 
 
         
    
    
    
    
    
    
    
    
    
    <h4><a name="BehaviouralModels">Behavioural Models</a></h4>
    <p>
    Behavioural models are implemented as state machine or procedure models generated with the 
    <a href="https://www.pnp-software.com/fwprofile/editor">FW Profile Editor</a>.
    The FW Profile Editor stores models in a database (the <i>FW Profile Editor Database</i>).
    Each model has an owner who is identified by its e-mail address.
    Within the FW Profile Editor, models have a name and can have a domain and a title.
    Models are defined as json strings and an svg representation which can be used to render them as pictures.
    </p><p>
    The Cordet FW Editor has a connection to the FW Profile Editor Database, which allows a user to import 
    selected models. 
    A user can only import FW Profile modes which belong to him.
    A model is imported through the <a href="#SpecItemOper">'add' operation</a>.
    </p><p>
    
    <h4><a name="DataItems">Data Items</a></h4>
    TBD
    </p><p>
    
    <h4><a name="Packets">Packets</a></h4>
    TBD
    </p><p>
        
    <h4><a name="VerItems">Verification Items</a></h4> 
    
    TBD
    </p><p>    



    
    <h3><a name="EditorExtension">Editor Extension</a></h4>
    The Cordet FW Editor is distributed through an open and free licence.
    Users therefore have the option to modify it to match their specific needs.
    Some kinds of extension are especially common and are discussed below.
    </p><p>
    The <strong>labels</strong> appearing on the header when specification items are listed can be modified by editing the 
    <a href="#EditorConfig">configuration dictionary</a>. Similarly, the set of <strong>mandatory attributes</strong> of a
    specification item category can also be modified by editing the <a href="#EditorConfig">configuration dictionary</a>.
    </p><p>
    The range of values for the <code>p_kind</code> and <code>s_kind</code> attributes of a specification item can
    be modified by editing the corresponding data structures in <code>choices.py</code>.
    </p><p>
    The editor offers a wide range of pre-defined <a href="SpecItemCat">specification item categories</a> but
    some users may need specification items with a special semantics which warrants the definition of a dedicated category.
    The process for <strong>creating a new specification item category</strong> is:
    <ul>
    <li>The name of the newly defined category is added to the data structure <code>SPEC_ITEM_CAT</code> in <code>choices.py</code></li>
    <li>The descriptor for the new category is added to the <a href="#EditorConfig">configuration dictionary</a>
        in file <code>configs.py</code></li>
    <li>If specification items of the new category are to be accessed from the index page, then a button or other
        trigger is set up in file <code>template/index.html</code></li>    
    <li>If the new specification item category includes links the <code>p_link</code>
        or the <code>s_link</code> attributes, then functions <code>get_p_link_choices</code> and/or <code>get_s_link_choices</code>
        are expanded accordingly</li>
    <li>If the new specification item category includes the <code>p_kind</code>
        or the <code>s_kind</code> attributes, then functions <code>get_p_kind_choices</code> and/or <code>get_s_kind_choices</code>
        are expanded accordingly</li>
    </ul>
    Note that no change in the database is required.
    </p><p>
    The editor supports the embedding of <a href="#EditorGen">generators</a> which process the specification items of a project to, for instance,
    generate code.
    The editor offers TBD pre-defined generators. Users may need to add their own generators.
    The process for doing so is: TBD.
    
     
    </p><p>    
   
    
<!-- 
    JS to create table of contents at top of page 
    from: https://stackoverflow.com/questions/187619/is-there-a-javascript-solution-to-generating-a-table-of-contents-for-a-page 
    and modified to handle <a name> tags in the headers
--> 
<script>
window.onload = function () {
    var toc = "";
    var level = 0;

    document.getElementById("contents").innerHTML =
        document.getElementById("contents").innerHTML.replace(
            /<h([\d])><a\s[a-zA-Z=\"]+>([^<]+)<\/a><\/h([\d])>/gi,
            function (str, openLevel, titleText, closeLevel) {
                if (openLevel != closeLevel) {
                    return str;
                }

                if (openLevel > level) {
                    toc += (new Array(openLevel - level + 1)).join("<ul>");
                } else if (openLevel < level) {
                    toc += (new Array(level - openLevel + 1)).join("</ul>");
                }

                level = parseInt(openLevel);

                var anchor = titleText.replace(/ /g, "_");
                toc += "<li><a href=\"#" + anchor + "\">" + titleText
                    + "</a></li>";

                return "<h" + openLevel + "><a name=\"" + anchor + "\">"
                    + titleText + "</a></h" + closeLevel + ">";
            }
        );

    if (level) {
        toc += (new Array(level + 1)).join("</ul>");
    }

    document.getElementById("toc").innerHTML += toc;
};
</script>
    
    
    
    
    
    
    
    
    



    

    
    



</div>

    </div>     

{% endblock %}
