{% extends "base_generic_bootstrap5.html" %}

{% load ref_filters %}

{% block content %}

{% if user.is_staff %}
<div class="container nav-scroller mb-3">
    <nav class="nav nav-underline fs-5">
        <a class="nav-link bi-plus-circle"
           href="{% url 'add_project' %}">
            add project
        </a>
        <a class="nav-link bi-cloud-upload"
           href="{% url 'import_project' %}">
            import project
        </a>
    </nav>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="container accordion" id="projectAccordion">
    {% for item in list_of_projects %}
    <div class="accordin-item">
        <h2 class="accordion-header" id="accordionHeading{{item.project.name}}">
            <button class="accordion-button fs-5 collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{item.project.name}}"
                    aria-expanded="true" aria-controls="collapse{{item.project.name}}">
                <strong class="me-4">{{item.project.release.project_version}}</strong>
                <strong class="me-4">{{item.project.name}}</strong>
                {{item.project.desc}}
            </button>
        </h2>
        <div id="collapse{{item.project.name}}" class="accordion-collapse collapse"
             aria-labelledby="heading{{item.project.name}}">
            <div class="accordion-body">
                <div class="d-flex flex-row align-items-center">
                    <!-- project details -->
                    <div class="flex-grow-1 ms-3">
                         Owner: {{item.project.owner}}
                    </div>
                    <div class="btn-group me-3" role="group" aria-label="project controls">
                        {% if request.user == item.project.owner %}
                        <a class="btn btn-outline-secondary"
                           href="{% url 'make_project_release' item.project.id %}"
                           title="Make Release">
                            make release
                        </a>
                        {% endif %}
                        {% if item.user_has_access or request.user == item.project.owner %}
                        <div class="btn-group">
                            <a class="btn btn-outline-primary dropdown-toggle"
                               href="#" role="button" id="dropdownMenu{{item.project.name}}"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                manage item
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{item.project.name}}">
                                {% for cat, value in item.project_configs.items %}
                                {% if value.access_from_index.level == 'Project' %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'list_spec_items' cat item.project.id 0 item.default_val_set_id 'Sel_All' %}?disp=disp_def"
                                       title="Manage {{ value.name }}s">
                                        {{ value.name }}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if user.is_staff %}
                        <a class="btn btn-outline-primary bi-pencil-fill"
                           href="{% url 'edit_project' item.project.id %}"
                           title="Edit Project">
                        </a>
                        {% endif %}
                        {% if user.is_staff %}
                        <a class="btn btn-outline-danger bi-trash-fill"
                           href="{% url 'del_project' item.project.id %}"
                           onclick="return confirm('Are you sure you want to delete this item?');"
                           title="Delete Project">
                        </a>
                        {% endif %}
                        {% if item.user_has_access or request.user == item.project.owner %}
                        <a class="btn btn-outline-primary bi-cloud-download-fill"
                           href="{% url 'export_project' item.project.id %}"
                           title="Export Project">
                        </a>
                        {% endif %}
                    </div>
                </div>


                <ul class="list-group mt-3">

                    <!-- application details -->
                    {% for application in item.applications %}
                    <li class="list-group-item d-flex flex-row align-items-center">
                        <strong class="me-3">
                            {{item.project.release.project_version}}.{{application.release.application_version}}
                        </strong>
                        <strong class="me-3">
                            {{application.name}}
                        </strong>
                        <div class="me-auto">
                            {{application.desc}}
                        </div>

                        <div class="btn-group">
                            {% if request.user == item.project.owner %}
                            <a class="btn btn-outline-secondary"
                               href="{% url 'make_application_release' application.id %}"
                               title="Make Release">
                                make release
                            </a>
                            {% endif %}

                            {% if item.user_has_access or request.user == item.project.owner %}
                            <div class="btn-group">
                                <a class="btn btn-outline-primary dropdown-toggle"
                                   href="#" role="button" id="dropdownMenu{{application.name}}"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    manage item
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{application.name}}">
                                    {% for cat, value in item.project_configs.items %}
                                    {% if value.access_from_index.level == 'Application' %}
                                    {% if cat in application.cats %}
                                    <a class="dropdown-item"
                                       href="{% url 'list_spec_items' cat item.project.id application.id item.default_val_set_id 'Sel_All' %}?disp=disp_def"
                                       title="Manage {{ value.name }}s">
                                        {{ value.name }}
                                    </a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% if request.user == item.project.owner %}
                            <a class="btn btn-outline-primary bi-pencil-fill"
                               href="{% url 'edit_application' application.id%}"
                               title="Edit Application">
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}





                    <!-- add application -->
                    {% if request.user == item.project.owner %}
                    <li class="list-group-item">
                        <a class="bi-plus-circle text-decoration-none"
                           href="{% url 'add_application' item.project.id %}"
                           title="Add Application">
                            add application
                        </a>
                    </li>
                    {% endif %}
                </ul>


            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}



<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Cordet FW Editor</h1>
            <p class="col-lg-10 fs-4">Web-based editor to support the definition of inter-linked specification items.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light"
                  action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                           id="username" placeholder="Username" name="username" autofocus>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control"
                           id="password" placeholder="Password" name="password">
                    <label for="password">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign-In</button>
                <hr class="my-4">
                <small class="d-flex justify-content-between text-muted">
                    <a class="bi-caret-right-fill text-decoration-none"
                       href="{% url 'password_reset' %}">
                        lost password?
                    </a>
                    <a class="bi-caret-right-fill text-decoration-none"
                       href="mailto:pnp-software@pnp-software.com">
                        request access
                    </a>
                </small>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}
