{% extends "base_generic.html" %}

{% load ref_filters %}

{% block content %}
<div class="col-lg-10 col-xl-9">
<div class="jumbotron jumbotron-fluid bg-transparent mb-n3">
  <h1 class="display-6">Cordet FW Editor</h1>
  <p class="lead">Web-based editor to support the specification of a set of related service-based applications</p>
  {% if user.is_staff %}
  <div class="form-inline">
      <div class="form-group mr-sm-2 mt-4">
          <a class="btn btn-outline-secondary" href="{% url 'add_project' %}">Add Project</a>
      </div>
      <div class="form-group mr-sm-2 mt-4">
          <a class="btn btn-outline-secondary" href="{% url 'import_project' %}">Import Project</a>
      </div>
  </div>  
  {% endif %}
</div>

  <div class="list-group">
    {% if user.is_authenticated %}
    <table class="table table-hover table-sm">
      <thead>
         <tr class="table-warning">
         <th>Project</th>
         <th>Description</th>
         <th>Owner</th>
         <th>Release</th>
         <th></th>
         </tr>
      </thead>
      <tbody>
         {% for item in list_of_projects %}
         <tr class="table-active">
         <td><strong>{{item.project.name}}</strong></td>
         <td>{{item.project.desc}}</td>
         <td>{{item.project.owner}}</td>
         <td>{{item.project.release.project_version}}</td>
         <td>
           <div class="btn-group">
              {% if user.is_staff %}
                 <a class="btn btn-outline-dark btn-sm" href="{% url 'edit_project' item.project.id %}" title="Edit Project">E</a>
                 <a class="btn btn-outline-dark btn-sm" href="{% url 'del_project' item.project.id %}" 
                    onclick="return confirm('Are you sure you want to delete this item?');" title="Delete Project">D</a>
              {% else %}
                 <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">E</a>
              {% endif %}
              {% if request.user == item.project.owner %}
              <a class="btn btn-outline-dark btn-sm" href="{% url 'add_application' item.project.id %}" title="Add Application">A</a>
              <a class="btn btn-outline-dark btn-sm" 
                    href="{% url 'make_project_release' item.project.id %}" title="Make Release">Rel</a>
              </form>
              {% else %}
              <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">A</a>
              <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">Rel</a>
              {% endif %}
              {% if item.user_has_access or request.user == item.project.owner %}
                {% for cat, value in configs.items %}        
                    {% if value.access_from_index.level == 'Project' %}
                     <a class="btn btn-outline-dark btn-sm" 
                            href="{% url 'list_spec_items' cat item.project.id 0 item.default_val_set_id 'All_Domains' %}?disp=disp_def" 
                            title="Manage {{ value.name }}s">{{ value.abbr }}</a>
                    {% endif %}
                {% endfor %}
              <a class="btn btn-outline-dark btn-sm" 
                    href="{% url 'export_project' item.project.id %}" title="Export Project">Ex</a>
              {% else %}
                {% for cat, value in configs.items %}        
                    {% if value.access_from_index.level == 'Project' %}
                     <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">{{ value.abbr }}</a>
                    {% endif %}
                {% endfor %}
              {% endif %}
           </div>
         </td>
         </tr>  
            {% for application in item.applications %}
            <tr>
            <td>&nbsp; &nbsp; {{application.name}}</td>
            <td>{{application.desc}}</td>
            <td></td>
            <td>{{item.project.release.project_version}}.{{application.release.application_version}}</td>
            <td>
              <div class="btn-group">
                {% if request.user == item.project.owner %}
                <a class="btn btn-outline-dark btn-sm"
                    href="{% url 'edit_application' application.id%}" title="Edit Application">E</a>
                <a class="btn btn-outline-dark btn-sm"
                    href="{% url 'make_application_release' application.id %}" title="Make Release">Rel</a>
                {% else %}
                <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">E</a>
                <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">Rel</a>
                {%endif %}
                {% if item.user_has_access or request.user == item.project.owner %}
                    {% for cat, value in configs.items %}        
                        {% if value.access_from_index.level == 'Application' %}
                         <a class="btn btn-outline-dark btn-sm" 
                                href="{% url 'list_spec_items' cat item.project.id 0 item.default_val_set_id 'All_Domains' %}?disp=disp_def" 
                                title="Manage {{ value.name }}s">{{ value.abbr }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                {% for cat, value in configs.items %}        
                    {% if value.access_from_index.level == 'Application' %}
                     <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">{{ value.abbr }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
              </div>
            </td>
            </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="lead">You must <a href="{% url 'login' %}">log-in</a> to see this page. 
      If you are not yet registered, you 
      can apply for a user name by contacting the <a href="mailto:pnp-software@pnp-software.com">administrator</a>.
      </p>
    {% endif %}
  </div>
  
</div>
{% endblock %}
