<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Tailwind CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <title>P&P Software</title>
    </head>
    <body class="min-h-screen flex flex-col">
        <main class="flex-grow flex flex-col items-center">
            <div class="flex-grow"></div>
            <div class="flex-none flex items-center divide-x-2 divide-blue-gray-200">
                <div class="w-72 mr-16 text-lg leading-5 flex flex-col items-center">
                    <h1 class="mb-6 font-bold text-blue-gray-900">P&P Software</h1>
                    <p class="text-center text-blue-gray-700">We offer consulting and engineering services. Find out more
                        <a class="font-bold
                                  hover:text-blue-600 hover:no-underline
                                  focus:text-blue-600 focus:outline-none"
                           href="https://www.pnp-software.com"
                           target="_blank" >here</a>.</p>
                </div>
                <div class="py-16">
                    <div class="w-72 ml-16 text-lg leading-5 flex flex-col items-center text-blue-gray-700">
                        <h1 class="mb-6 font-bold text-blue-gray-900">Cordet FW Editor</h1>
                        <p class="text-center text-blue-gray-700">Web-based editor to support the specification of a set of related service-based applications. Find out more
                            <a class="font-bold
                                      hover:text-blue-600 hover:no-underline
                                      focus:text-blue-600 focus:outline-none"
                               href="https://www.pnp-software.com/cordetfw"
                               target="_blank" >here</a>.</p>
                    </div>
                </div>
            </div>
            <div class="flex-grow"></div>
            <div class="flex-grow"></div>



        </main>

        <footer class="my-4 flex flex-col items-center text-blue-gray-400">
            <div>© 2021 
                <a class="font-bold
                          hover:text-blue-600 hover:no-underline
                          focus:text-blue-600 focus:outline-none"
                   href="https://www.pnp-software.com"
                   target="_blank" >P&P Software GmbH</a>. All Rights Reserved.
            </div>
        </footer>


    </body>
</html>
