<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/static/bootstrap-suggest.min.js"></script>
<script>
var linkElements = [
  {% for spec_item in spec_items %}
    {path: '{{spec_item.cat}}:{{spec_item.domain}}:{{spec_item.name}}', comment: '{{spec_item.title}}'},
  {% endfor %}
];
$('.link-suggest').suggest('#', {
  data: linkElements,
  map: function(element) {
    return {
      value: element.path,
      text: '<strong>'+element.path+'</strong>'+'&Tab;<small>'+element.comment+'</small>'
    }
  },
  filter: {
    casesensitive: false,
    limit: 16
  }
})
</script>

