{% extends "base_generic.html" %}

{% load ref_filters %}

{% block content %}
{% if False %}<a class="link-table-list-spec">{% endif %} <!-- get purged otherwise -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="mt-6 w-11/12">
    {% if history %}
    <div class="mb-4 text-lg leading-5 font-bold text-blue-gray-500 flex items-center">
        History of {{items.0.domain}}:{{items.0.name}}
    </div>
    {% else %}
    <div class="mb-4 text-lg leading-5 font-bold text-blue-gray-500 flex items-center">
        <!-- Dropdown for ValSet -->
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-6 w-6 pr-1" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
            </svg>
            Value Set:
            <div class="relative pl-1"
                 x-data="{ openValSet: false }">
                <button class="text-lg leading-5 font-bold text-blue-gray-900 relative hover:text-blue-600 focus:outline-none"
                        @click="openValSet = true">
                    {{ val_set.name }}
                </button>
                <div class="z-10 absolute left-0 px-4 -ml-4 mt-1 py-1 text-blue-gray-500 bg-white rounded-md shadow-xl border-2 border-blue-gray-200"
                     x-show="openValSet"
                     @click.away="openValSet = false">
                    {% for v_set in val_sets %}
                    {% if v_set.name != val_set.name %}
                    <a class="py-1 block hover:text-blue-600"
                       href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?disp={{disp}}">
                        {{ v_set.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Dropdown Domain -->
        <div class="ml-9 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-6 w-6 mr-1" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
            </svg>
            Domain:
            <div class="relative pl-1"
                 x-data="{ openSelDom: false }">
                <button class="text-lg leading-5 font-bold text-blue-gray-900 relative hover:text-blue-600 focus:outline-none"
                        @click="openSelDom = true">
                    {{ sel_val }}
                </button>
                <div class="z-10 absolute left-0 px-4 -ml-4 mt-1 py-1 text-blue-gray-500 bg-white rounded-md shadow-xl border-2 border-blue-gray-200"
                     x-show="openSelDom"
                     @click.away="openSelDom = false">
                    {% for domain in domains %}
                    {% if domain != sel_val %}
                    <a class="py-1 block hover:text-blue-600"
                       href="{% url 'list_spec_items' cat project.id application_id val_set.id domain %}?disp={{disp}}">
                        {{ domain }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- add new item -->
        <a class="ml-9 flex items-center hover:text-blue-600"
           href="{% url 'add_spec_item' cat project.id application_id sel_val %}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-6 w-6 mr-1" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Add {{ config.name }}
        </a>
        <!-- Dropdown export -->
        <button class="ml-9 flex items-center text-lg leading-5 font-bold hover:text-blue-600 focus:outline-none"
                x-data="{ openExport: false }"
                @click="openExport = true">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-6 w-6 mr-1" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
            </svg>
            <div class="relative">
                Export
                <div class="z-10 absolute left-0 px-4 -ml-4 mt-1 py-1 text-blue-gray-500 bg-white rounded-md shadow-xl border-2 border-blue-gray-200"
                     x-show="openExport"
                     @click.away="openExport = false">
                    <a class="py-1 block hover:text-blue-600"
                       href="{% url 'export_spec_items' cat project.id application_id val_set.id sel_val %}">
                        plain
                    </a>
                    {% if order_by != None %}
                    <a class="py-1 block hover:text-blue-600"
                       href="{% url 'export_spec_items' cat project.id application_id val_set.id sel_val %}?export=latex_format&order_by={{order_by}}">
                        latex
                    </a>
                    {% else %}
                    <a class="py-1 block hover:text-blue-600"
                       href="{% url 'export_spec_items' cat project.id application_id val_set.id sel_val %}?export=latex_format">
                        latex
                    </a>
                    {% endif %}
                </div>
            </div>
        </button>
        <!-- import -->
        <a class="mx-9 flex items-center hover:text-blue-600"
           href="{% url 'import_spec_items' cat project.id application_id val_set.id sel_val %}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-6 w-6 mr-1" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
            </svg>
            Import
        </a>
        <!-- display format -->
        <div class="ml-auto flex items-center">
            <a class="{% if disp == 'disp_def' %}text-blue-600 bg-blue-100{% endif %} p-1 hover:text-blue-600 rounded-md"
               href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?disp=disp_def"
               title="default view">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 10h16M4 14h16M4 18h16" />
                </svg>
            </a>
            <a class="{% if disp == 'disp_short' %}text-blue-600 bg-blue-100{% endif %} p-1 hover:text-blue-600 rounded-md"
               href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?disp=disp_short"
               title="short without traceability info">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2" d="M4 8h16M4 16h16" />
                </svg>
            </a>
            <a class="{% if disp == 'disp_trac' %}text-blue-600 bg-blue-100{% endif %} p-1 hover:text-blue-600 rounded-md"
               href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?disp=disp_trac"
               title="short with traceability info">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </a>
        </div>
    </div>
    {% endif %} <!-- if history -->

    <table>
        <thead>
            <tr class="text-lg leading-5 text-left text-blue-gray-500
                       border-b-2 border-blue-gray-200">
                {% for disp_item in disp_list %}
                    {% if disp_item.order_by and not history %}
                    <th class="pl-6 py-4 font-bold">
                        <a class="{% if disp_item.order_by == order_by %}text-blue-600{% endif %} hover:text-blue-600 flex items-center"
                           href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?disp={{disp}}&order_by={{disp_item.order_by}}"
                           title="List in alphabetical order">
                            {{disp_item|get_dict_item:'header'}}
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5" viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    </th>
                    {% else %}
                    <th class="pl-6 py-4 font-bold {% if disp_item.header == 'Description' %}mr-auto{% endif %}">
                        {{disp_item|get_dict_item:'header'}}
                    </th>
                    {% endif %}
                {% endfor %}
                {% if history %}
                <th class="pl-6 py-4 font-bold">Change Log</th>
                {% else %}
                <!-- The edit/copy/delete/split buttons  -->
                <th class="px-6 py-4"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="text-blue-gray-900 align-top
                       border-b border-blue-gray-200
                       hover:bg-blue-gray-200">
                {% for disp_item in disp_list %}
                <td class="pl-6 py-2" {% if forloop.first %}id="{{item.domain}}:{{item.name}}"{% endif %}>
                    {% if 'attrs' in disp_item %} <!-- Display item attributes -->
                        {% conv_db_disp item disp_item.attrs as attr_values %}
                        {% if attr_values|length == 1 %}
                            {{ attr_values.0.1|linebreaksbr }}
                        {% else %}
                            {% for attr_value in attr_values %}
                                {% if forloop.first %}
                                    <strong>{{ attr_value.0 }}</strong> {{ attr_value.1|linebreaksbr }}
                                {% else %}
                                    <br><strong>{{ attr_value.0 }}</strong> {{ attr_value.1|linebreaksbr }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %} <!-- Display traceability links -->
                        {% disp_trac item disp_item.trac_cat disp_item.trac_link as link_value %}
                        {{ link_value|linebreaksbr }}
                    {% endif %}
                </td>
                {% endfor %}
                {% if history %}
                <td class="pl-6 py-2">
                    {{ item.status }} ({{ item.updated_at|date:'d-m-Y H:i' }}) <br>
                    {{ item.change_log }}
                </td>
                {% endif %}
                {% if not history %}
                <!-- The edit/copy/delete/split buttons  -->
                <td class="px-6 py-2 flex flex-row items-center">
                    {% if item.val_set.name == 'Default' and config.ext_attrs|length == 0 %}
                    <a class="mr-2"
                       href="{% url 'copy_spec_item' cat project.id application_id item.id sel_val %}"
                       title="Copy {{config.name}}">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z" />
                            <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
                        </svg>
                    </a>
                    <a class="mr-2"
                       href="{% url 'split_spec_item' cat project.id application_id item.id sel_val %}"
                       title="Split {{config.name}}">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
                        </svg>
                    </a>
                    {% endif %}
                    {% if config.ext_attrs|length != 0 %}
                    <a class="mr-2"
                       href="{% url 'refresh_spec_item' cat project.id application_id item.id sel_val %}"
                       title="Refresh {{config.name}}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                    {% endif %}
                    <a class="mr-2"
                       href="{% url 'list_spec_item_history' cat project.id application_id item.id sel_val %}"
                       title="{{config.name}} History">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2h-1.528A6 6 0 004 9.528V4z" />
                            <path fill-rule="evenodd"
                                  d="M8 10a4 4 0 00-3.446 6.032l-1.261 1.26a1 1 0 101.414 1.415l1.261-1.261A4 4 0 108 10zm-2 4a2 2 0 114 0 2 2 0 01-4 0z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a class="mr-2"
                       href="{% url 'edit_spec_item' cat project.id application_id item.id sel_val %}"
                       title="Edit {{config.name}}">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                    </a>
                    {% if item.status == 'NEW' %}
                        <a class="mr-2"
                           href="{% url 'del_spec_item' cat project.id application_id item.id sel_val %}"
                           onclick="return confirm('Are you sure you want to delete this item?');"
                           title="Delete {{config.name}}">
                            <svg class="h-5 w-5 text-blue-gray-400
                                        hover:text-red-600"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    {% else %}
                        <a class="mr-2"
                           href="{% url 'del_spec_item' cat project.id application_id item.id sel_val %}"
                           title="Delete {{config.name}}">
                            <svg class="h-5 w-5 text-blue-gray-400
                                        hover:text-red-600"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    {% endif %}
                    {% if config.expand.s_link != 'None' and val_set.name == 'Default' and not 'trac' in display_list %}
                    <a class="mr-2 h-5 w-5 text-blue-gray-400
                              hover:text-blue-600"
                       href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?expand_id={{item.id}}&expand_link=s_link&disp={{disp}}#{{item.domain}}:{{item.name}}"
                       title="Show {{config.expand.s_label}} Children">Xs</a>
                    {% endif %}
                    {% if config.expand.p_link != 'None' and val_set.name == 'Default' and not 'trac' in display_list %}
                    <a class="mr-2 h-5 w-5 text-blue-gray-400
                              hover:text-blue-600"
                       href="{% url 'list_spec_items' cat project.id application_id val_set.id sel_val %}?expand_id={{item.id}}&expand_link=p_link&disp={{disp}}#{{item.domain}}:{{item.name}}" 
                       title="Show {{config.expand.p_label}} Children">Xp</a>
                    {% endif %}
                    {% if expand_link == 's_link' and val_set.name == 'Default' and not 'trac' in display_list %}
                    <a class="mr-2 h-5 w-5 text-blue-gray-400
                              hover:text-blue-600"
                       href="{% url 'add_spec_item' config.expand.s_link project.id application_id sel_val %}?s_parent_id={{item.id}}&disp={{disp}}" 
                       title="Add {{config.expand.s_label}} Child">As</a>
                    {% endif %}
                    {% if expand_link == 'p_link' and val_set.name == 'Default' and not 'trac' in display_list %}
                    <a class="mr-2 h-5 w-5 text-blue-gray-400
                              hover:text-blue-600"
                       href="{% url 'add_spec_item' config.expand.p_link project.id application_id sel_val %}?p_parent_id={{item.id}}&disp={{disp}}" 
                       title="Add {{config.expand.p_label}} Child">Ap</a>
                    {% endif %}
                    {% if 'trac' in display_list %}
                    <a class="mr-2 h-5 w-5 text-blue-gray-400
                              hover:text-blue-600"
                       href="{% url 'add_spec_item' 'VerLink' project.id application_id sel_val %}?s_parent_id={{item.id}}&disp={{disp}}" 
                       title="Add Verification Link">A</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% if item.id == expand_id %} <!-- Display expansion items for the current item  -->
            {% for expand_item in expand_items %}
            <tr class="text-blue-gray-900 align-top
                       border-b border-blue-gray-200
                       hover:bg-blue-gray-200">
                <td class="pl-6 py-2">{{expand_item.domain}}</td>
                <td class="pl-6 py-2">
                    <a class="link-table-list-spec"
                       href="{% url 'list_spec_items' expand_item.cat project.id application_id val_set.id expand_item.domain %}#{{expand_item.domain}}:{{expand_item.name}}"
                       title="{{expand_item.desc|filter_refs_for_tip|linebreaksbr}}">
                        {{expand_item.name}}
                    </a>
                </td>
                <td class="pl-6 py-2">{{expand_item|get_short_desc}}</td>
                {% for i in n_pad_fields %}
                <td></td>
                {% endfor %}
                <td class="pl-6 py-2 flex flex-row items-center">
                    {% if expand_link == 'p_link' %}
                    {% if item.val_set.name == 'Default' %}
                    <a class="mr-2"
                       href="{% url 'copy_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?p_parent_id={{item.id}}" 
                       title="Copy {{config.expand.p_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z" />
                            <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
                        </svg>
                    </a>
                    <a class="mr-2"
                       href="{% url 'split_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?p_parent_id={{item.id}}" 
                       title="Split {{config.expand.p_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
                        </svg>
                    </a>
                    {% endif %}
                    <a class="mr-2"
                       href="{% url 'edit_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?p_parent_id={{item.id}}" 
                       title="Edit {{config.expand.p_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                    </a>
                    <a class="mr-2"
                       href="{% url 'del_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?p_parent_id={{item.id}}" 
                       title="Delete {{config.expand.p_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-red-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                    {% endif %}
                    {% if expand_link == 's_link' %}
                    {% if item.val_set.name == 'Default' %}  
                    <a class="mr-2"
                       href="{% url 'copy_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?s_parent_id={{item.id}}" 
                       title="Copy {{config.expand.s_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z" />
                            <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
                        </svg></a>
                    <a class="mr-2"
                       href="{% url 'split_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?s_parent_id={{item.id}}" 
                       title="Split {{config.expand.s_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
                        </svg>
                    </a>
                    {% endif %}
                    <a class="mr-2"
                       href="{% url 'edit_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?s_parent_id={{item.id}}" 
                       title="Edit {{config.expand.s_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-blue-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                    </a>
                    <a class="mr-2"
                       href="{% url 'del_spec_item' expand_item.cat project.id application_id expand_item.id sel_val %}?s_parent_id={{item.id}}" 
                       title="Delete {{config.expand.s_label}} Child">
                        <svg class="h-5 w-5 text-blue-gray-400
                                    hover:text-red-600"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
