{% extends "base_generic.html" %}

{% load ref_filters %}

{% block content %}
<div class="col-11">
<div class="jumbotron jumbotron-fluid bg-transparent mb-n3">
  <h2 class="display-6">History of {{config.name}} {{item.domain}}:{{item.name}} 
            </h2>  
            <i><strong>{{ item.title }}</strong> {{ item.desc }}</i>
</div>

    <table class="table table-hover table-sm">
      <thead>
        <tr class="table-warning">
          <th>Domain</th>
          <th>Name</th>
          <th>Description</th>
          <th>Value</th>
          <th>Kind</th>
          {% if cat == 'DataItemType' %}
          <th>Size</th>
          {% endif %}
          {% if cat == 'Requirement' %}
          <th>Ver.</th>
          {% endif %}
          <th>Status</th>
          <th>Date</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <trv>
            <td id='#{{item.domain}}:{{item.name}}'>{{item.domain}}</td>
            <td>{{item.name}}</td>
            <td><strong>{{item.title}}</strong> 
                {% if item.desc != '' %}
                {{item.desc|filter_refs|linebreaksbr}}
                {% endif %}
                {% if item.justification != '' %}
                <br><strong>Justification</strong> {{item.justification|filter_refs|linebreaksbr}}
                {% endif %}
                {% if item.remarks != '' %}
                <br><strong>Remarks</strong> {{item.remarks|filter_refs|linebreaksbr}}
                {% endif %}
            </td>
            <td>{{item.value}}</td>
            <td>{{item.kind}}</td>
            {% if cat == 'DataItemType' %}
            <td>{{item.dim}}</td>
            {% endif %}
            {% if cat == 'Requirement' %}
            <td>{{item.req.ver_method}}</td>
            {% endif %}
            <td>{{item.status}}</td>
            <td>{{item.updated_at|date:'d-m-Y H:i'}}</td>            
            <td>{{item.owner}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
