{% extends "base_generic.html" %}

{% load ref_filters %}

{% block content %}
<div class="col-11">
<div class="jumbotron jumbotron-fluid bg-transparent mb-n3">
  <h2 class="display-6">{{ config.title }}</h2>  
    <div class="form-inline">
      <div class="dropdown mr-sm-2 mt-4">
      <div class="dropdown mr-sm-2 mt-4">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select ValSet</button>
        <div class="dropdown-menu">
            {% for val_set in val_sets %}
                <a class="dropdown-item" href="{% url 'list_spec_items' cat project_id app_id val_set.id sel_dom %}">{{ val_set.name }}</a>
            {% endfor %}
        </div>
      </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select Domain</button>
        <div class="dropdown-menu">
            {% for domain in domains %}
                <a class="dropdown-item" href="{% url 'list_spec_items' cat project_id app_id val_set_id sel_dom %}">{{ domain }}</a>
            {% endfor %}
        </div>
      </div>
      <div class="form-group mr-sm-2 mt-4">
        <a class="btn btn-outline-secondary" href="{% url 'add_spec_item' cat project_id app_id sel_dom %}">Add {{config.name}}</a>
      </div>
      <div class="dropdown mr-sm-2 mt-4">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Export</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'export_spec_items' cat project_id app_id %}">Export {{config.name}}s</a>
            <a class="dropdown-item" href="{% url 'export_requirements' cat project_id app_id %}?export=export_change_log">Export Change Log</a>
        </div>
      </div>
    </div>
</div>

    <table class="table table-hover table-sm">
      <thead>
        <tr class="table-warning">
          <th>Domain</th>
          <th>Name</th>
          <th>Description</th>
          <th>Value</th>
          <th>Kind</th>
          <th>Owner</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          {% if item.status == 'CNF' or item.status == 'MOD' or item.status == 'NEW' %}
          <tr>
            <td>{{item.domain}}</td>
            <td>{{req.name}}</td>
            <td><strong>{{item.title}}</strong> 
                {% if item.desc != '' %}
                {{item.desc|filter_refs|linebreaksbr}}
                {% endif %}
                {% if item.justification != '' %}
                <br><strong>Justification</strong> {{item.justification|filter_refs|linebreaksbr}}
                {% endif %}
                {% if item.remarks != '' %}
                <br><strong>Remarks</strong> {{item.remarks|filter_refs|linebreaksbr}}
                {% endif %}
            </td>
            <td>{{item.value}}</td>
            <td>{{item.kind}}</td>
            <td>{{item.owner}}</td>
            <td>
              <div class="btn-group">
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'copy_item' cat project.id application.id item.id sel_dom %}" title="Copy {{config.name}}">C</a>
                {% if request.user == item.owner %}
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'del_item' cat project.id application.id item.id sel_dom %}" title="Delete {{config.name}}">D</a>
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'edit_item' cat project.id application.id item.id sel_dom %}" title="Edit {{config.name}}">E</a>
                {% else %}   
                <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">D</a>
                <a class="btn btn-outline-secondary disabled btn-sm" aria-disabled="true" href="#">E</a>
                {% endif %}
                <a class="btn btn-outline-dark btn-sm"
                   href="{% url 'list_item_history' cat project.id application.id item.id sel_dom %}" title="{{config.name}} History">H</a>
              </div> 
            </td>
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
