{% extends "base_generic.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <h2 class="my-3">{{ title }}</h2>
            <p class="mb-4 fs-5 fst-italic">{{ sub_title }}</p>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="{{ form.domain.id_for_label }}"
                           class="col-form-label col-2">
                        {{ form.domain.label }}{% if form.domain.field.required %}*{% endif %}
                    </label>
                    <div class="col-3 col-lg-2">
                        <input type="text" id="{{ form.domain.id_for_label }}"
                               class="form-control {% if form.domain.errors %}is-invalid{% endif %}"
                               name="domain" value="{{ form.domain.value }}"
                               maxlength="255"
                               {% if form.domain.field.required %}required{% endif %}
                               {% if form.domain.field.disabled %}disabled{% endif %}>
                        {% if form.domain.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.domain.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <label for="{{ form.name.id_for_label }}"
                           class="col-form-label col-2 text-end">
                        {{ form.name.label }}{% if form.name.field.required %}*{% endif %}
                    </label>
                    <div class="col-5 col-lg-4">
                        <input type="text" id="{{ form.name.id_for_label }}"
                               class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                               name="name" value="{{ form.name.value }}"
                               maxlength="255"
                               {% if form.name.field.required %}required{% endif %}
                               {% if form.name.field.disabled %}disabled{% endif %}>
                        {% if form.name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% for field in form %}
                {% if field.html_name not in 'domain,name' %}
                {% include "generic_form_field.html" %}
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
                <button type="button" class="btn btn-outline-danger ms-2"
                        onclick="location.href='{{ form.cancel.help_text }}';">{{ form.cancel.label }}</button>
            </form>

{% include "link_suggest.html" %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

        </div>
    </div>
</div>
{% endblock %}
