{% extends "base_generic_bootstrap5.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <h2 class="my-3">{{ title }}</h2>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="upload_file" class="col-form-label col-2">File: </label>
                    <div class="col-10 col-lg-8">
                        <input type="file" name="upload_file"
                               id="upload_file" required="True"
                               class="form-control {% if form.upload_file.errors %}is-invalid{% endif %}">
                        {% if form.upload_file.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.upload_file.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

        </div>
    </div>
</div>
{% endblock %}


