{% extends "base_generic_bootstrap5.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <h2 class="my-3">{{ title }}</h2>
            <p class="mb-4 fs-5 fst-italic">{{ sub_title }}</p>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="{{ form.name.id_for_label }}"
                           class="col-form-label col-2">
                        {{ form.name.label }}{% if form.name.field.required %}*{% endif %}
                    </label>
                    <div class="col-10 col-lg-8">
                        <input type="text" id="{{ form.name.id_for_label }}"
                               class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                               name="name" value="{{ form.name.value }}"
                               maxlength="255"
                               {% if form.name.field.required %}required{% endif %}
                               {% if form.name.field.disabled %}disabled{% endif %}>
                        {% if form.name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="{{ form.description.id_for_label }}"
                           class="col-form-label col-2">
                        {{ form.description.label }}{% if form.description.field.required %}*{% endif %}
                    </label>
                    <div class="col-10 col-lg-8">
                        <textarea type="text" id="{{ form.description.id_for_label }}"
                                  class="form-control {% if form.description.errors %}is-invalid{% endif %}
                                        link-suggest"
                                  name="description" rows="2" size="255"
                                  {% if form.description.field.required %}required{% endif %}
                                  {% if form.description.field.disabled %}disabled{% endif %}>{{ form.description.value }}</textarea>
                        {% if form.description.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

{% include "link_suggest.html" %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

        </div>
    </div>
</div>
{% endblock %}
